:root{
--green:#00ff00;
--black:#050505;
--gray:#111;
--light:#eaeaea;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial,sans-serif;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}

/* HEADER */
.header{
   
position:fixed;
top:100px;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
z-index:1000;

}

.logo{
font-size:28px;
font-weight:bold;
color:var(--green);
letter-spacing:2px;
}

.nav a{
margin-left:40px;
color:white;
text-decoration:none;
position:relative;
font-weight:500;
}

.nav a::after{
content:"";
position:absolute;
width:0;
height:2px;
left:0;
bottom:-6px;
background:var(--green);
transition:.4s;
}

.nav a:hover::after{
width:100%;
}

/* HERO */
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.7)),
url("image/background.jpg") center/cover no-repeat;

}



.hero h1{
font-size:65px;
font-weight:900;
color:var(--green);
animation:fadeUp 1.5s ease;
}

.hero h2{
font-size:50px;
font-weight:900;
color:var(--green);
animation:fadeUp 1.5s ease;
}

@keyframes fadeUp{
from{opacity:0;transform:translateY(50px)}
to{opacity:1;transform:translateY(0)}
}

/* BUTTON */
.btn{
display:inline-block;
margin-top:30px;
padding:15px 45px;
border:2px solid var(--green);
color:var(--green);
border-radius:40px;
text-decoration:none;
font-weight:bold;
transition:.4s;
}

.btn:hover{
background:var(--green);
color:black;
box-shadow:0 0 30px var(--green);
transform:scale(1.05);
}

/* SECTION */
.section{
padding:150px 10% 80px;
text-align:center;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.7)),
url("image/background.jpg") center/cover no-repeat;
margin-top: 80px;
}

.section h2{
font-size:30px;
margin-bottom:40px;
color:var(--green);
}

/* CARDS */
.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

.card{
background:linear-gradient(145deg,#0a0a0a,#111);
padding:50px 30px;
border-radius:25px;
border:1px solid #ffffff;
transition:.5s;
cursor:pointer;
text-decoration:none;
color:white;
position:relative;
overflow:hidden;
}

.cards h3 {
    color: #ffffff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card::before{
content:"";
position:absolute;
width:0;
height:0;
background:var(--green);
top:0;
left:0;
opacity:.1;
transition:.6s;
}

.card:hover::before{
width:100%;
height:100%;
}

.card:hover{
transform:translateY(-15px) scale(1.03);
box-shadow:0 0 35px rgba(226, 226, 226, 0.3);
}

.card h3{
color:var(--green);
margin-bottom:10px;
}

/* FOOTER */
.footer{
padding:40px;
text-align:center;
background:black;
color:var(--green);
margin-top:100px;
}
